/* Default design parameters given */
html {
  font-size: 14px;
}

@media (min-width: 768px) {
  html {
    font-size: 16px;
  }
}

html {
  position: relative;
  min-height: 100%;
}

body {
  margin-bottom: 60px;
}

/* Common Styles for Both Home and Private Pages */
/* Body styling */
body {
    font-family: 'Arial', sans-serif;
    line-height: 1.6;
    color: dimgray;
}

/* Box or border styling */
.container {
    border-radius: 8px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}

/* Header styling */
h1, h2 {
    color: royalblue;
}

/* Hyper-link styling */
a {
    color: royalblue;
}

    a:hover {
        text-decoration: none;
    }

/* Styles for Privacy Page Particularly */
body.privacy {
    background-color: lightgray;
}

/* Styles for Home Page Particularly */
body.home {
    font-family: 'Helvetica', sans-serif;
    text-align: center;
    background-color: white;
}

h1.home {
    color: mediumseagreen;
}

.col-md-6.home {
    margin-top: 20px;
}

p.home {
    font-size: 18px;
    color: darkgray;
}