@{
    ViewData["Title"] = "Privacy Policy";
}

<h1>@ViewData["Title"]</h1>

<!-- Privacy Page Information -->

<p>Thank you for choosing ThAmCo. This Privacy Policy describes how we collect, use, and disclose personal information when you use our catering services or visit our website.</p>

<h2>Information We Collect</h2>
<p>We may collect personal information such as your name, contact information, dietary preferences, and event details when you place an order or inquire about our catering services.</p>

<h2>How We Use Your Information</h2>
<p>We use the collected information to provide and improve our catering services, communicate with you, and fulfill your catering orders. Your information may also be used for marketing purposes, such as sending promotional offers or updates about our services.</p>

<h2>Information Sharing</h2>
<p>We do not sell, trade, or otherwise transfer your personal information to outside parties. However, we may share your information with trusted third parties who assist us in operating our website or conducting our business, as long as they agree to keep this information confidential.</p>

<h2>Security</h2>
<p>We implement a variety of security measures to safeguard your personal information. We use encryption to protect sensitive information transmitted online and take steps to protect your information offline.</p>

<h2>Cookies</h2>
<p>Our website may use cookies to enhance your experience. You can choose to disable cookies through your browser settings, but it may affect your ability to use certain features of our website.</p>

<h2>Changes to This Privacy Policy</h2>
<p>We may update our Privacy Policy from time to time. Any changes will be reflected on this page, and the date of the last update will be indicated at the top of the page.</p>

<h2>Contact Us</h2>
<p>If you have any questions or concerns about our Privacy Policy, please contact us at thamcocateringbuisness@gmail.com or +135792468.</p>

<p>This Privacy Policy was last updated on 14 January 2024.</p>
